<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Películas</h1>
  <%= link_to "Nueva Película", new_movie_path, class: "btn btn-primary" %>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
